 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{

:root {
   --roxo-mais-escuro: #10002B
   --roxo-medio: #7B2CBF
   --roxo-claro: #E0AAFF
   --preto: #000000
   --branco: #FFFFFF

}

   padding: 0;
  margin: 0;
}
 

 body{
    font-family: 'Inter', sans-serif;
    padding-left: 20px;
    padding-right: 30px;
 }   
.topo{
   padding: 40px 70px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}      
ul{  
   display: flex;
   justify-content: center;
}     

li{
   list-style-type: none;
   padding-left: 10px;
   padding-right: 10px;
}
a{
   text-decoration: none;
   color: black;
}
.botão-secundario{
   border: 2px solid black;
   border-radius: 5px;
}
img{
   width: 350px;
}
.corpo{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.esquerda{
   display: flex;
   flex-direction: column;
}
.direita{
   display: flex;
   flex-direction: column;
}
p{
   font-size: 20px;
  font-weight: normal;
}
h1{
   font-size: 40px;
   font-weight: 900;
}
.botao-primario{
   background-color: #E0AAFF;
   color: white;
   font-size: 28px;
   border-radius: 8px;
   text-align: center;
   padding: 10px;
}
p,h1{
  padding-top: 15px;
}

#Sinopse {
   padding: 40px 70px;
   display: flex;
   flex-direction: column;
   gap: 50px;
   align-items: center;
   justify-content: center;
}

.beneficios {
   padding: 0 100px;
   display: flex;
   gap: 140px;
   justify-content: center;
   align-items: center;
}

.beneficio-titulo {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   gap: 8px;
   width: 100%;
}

.beneficio {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.beneficio h4 {
   font-size: 20px;
}

.beneficio p {
   text-align: center;
   font-size: 16px;
}

#beneficios .botao-primario {
   padding: 10px 50px;
}